h1,
input::-webkit-input-placeholder,
button {
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
h1 {
  height: 100px;
  width: 100%;
  font-size: 18px;
  background: #18aa8d;
  color: white;
  line-height: 150%;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}
a.add-email {
  color: #bdb08a;
  background: none;
  text-align: left;
  font-weight: 600;
  display: block;
  margin-bottom: 40px;
  font-size: 14px;
}
a.add-email img {
  margin-right: 10px;
  vertical-align: bottom;
}
section.top-bar {
  height: auto;
  margin: 0px auto 20px;
  padding-top: 20px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(151, 151, 151, 0.3);
  background-color: white;
  border-top: 8px solid #b3a784;
  text-align: center;
}
section.top-bar span {
  font-family: 'Crimson Text', serif;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.6px;
  font-weight: 600;
}
.content-wrapper {
  margin: 0 auto;
  display: block;
  width: 670px;
}
.invite {
  width: 20%;
  margin-top: 60px;
  min-width: 440px;
  display: inline-block;
  vertical-align: top;
}
.connect-with {
  margin-top: 60px;
  margin-right: 40px;
  width: 180px;
  display: inline-block;
}
.connect-with .button {
  float: none;
  display: block;
  margin-top: 10px;
}
.connect-with .fb-login {
  margin-top: 30px;
}
@media (max-width: 480px) {
  p {
    font-size: 14px;
    line-height: 24px;
  }
  .content-wrapper {
    margin-bottom: 20px;
    max-width: 400px;
    min-width: 310px;
    margin: 0 auto;
    position: relative;
    width: 75%;
    display: block;
  }
  .invite {
    min-width: auto;
    width: 100%;
  }
  .invite input {
    width: 100%;
  }
  .invite button {
    width: 100%;
  }
  .connect-with {
    width: auto;
    display: block;
  }
  .connect-with .button {
    display: inline-block;
    margin: 5px 5px 5px 0px;
    width: 75px;
  }
  .connect-with .button span {
    display: none;
  }
  .connect-with .gg-login img {
    margin-left: -4px;
  }
}
